@SecondColDivMarginLR: 30px;

.listViewContent {
  width: 100%;
  user-select: none;
}

.listViewContentSecondCol {
  min-height: 380px;
  border-left: 0.5px solid #ddd;
}

.listViewContentSecondColDiv {
  margin-left: @SecondColDivMarginLR;
  margin-right: @SecondColDivMarginLR;
}
