.coll {
  margin: 0 5px;
  border-top: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}

.inputDiv {
  input.ant-input {
    border: none;
    background: #eee;
    padding: 5px 10px;
    width: 100%;
  }
}

.listDiv {
  .ant-list-pagination {
    margin-top: 16px;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border: none;
  }

  li.ant-pagination-item {
    border: none;
  }
}
