
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: url("../images/logo.svg") no-repeat center;
}

.content {
  padding: 24px;
  min-height: 380px;
  background: #fff;
}

.footer {
  text-align: center;
}
